<web-app version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  <display-name>jeelei</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>mvc-dispatcher</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:/Spring-mvc.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>mvc-dispatcher</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <!-- Spring context startup -->
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath*:/Spring-service.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <!--  附：web.xml标签放置顺序
1. icon?
2. display-name?
3. description?
4. distributable?
5. context-param*
6. filter*
7. filter-mapping*
8. listener*
9. servlet*
10.servlet-mapping*
11.session-config?
12.mime-mapping*
13.welcome-file-list?
14.error-page*
15.taglib*
16.resource-env-ref*
17.resource-ref*
18.security-constraint*
19.login-config?
20.security-role*
21.env-entry*
22.ejb-ref*
23.ejb-local-ref
"?"表示该标签出现次数最多为1，"*"表示可以多次出现。 -->
</web-app>